<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking has been confirmed </h1>
    <p>
      Hello <%= @booking.first_name %> <%= @booking.last_name %><br> Your booking request in <%= @booking.to_str_time %> at <%= @booking.site.business.name %> for <%= @booking.number_of_person %> people has been confirmed.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
